<div id="content">
</div>

<script type="text/javascript">
  window.logo_url = '<%= image_url('FavoRabbit-logo.png')  %>'
  window.raised_hand_url = '<%= image_url('raised_hand.png')  %>'
  window.handshake_url = '<%= image_url('handshake.png')  %>'
  window.helping_hand_url = '<%= image_url('helping_hand.png')  %>'
</script>
