.dashboard {
  margin: 0 auto;
  width: 90%;
}

.request-detail {
 border: solid 1px #cfd2d3;
 width: 600px;
 background: orange;
 margin: 0 auto;
 width: 100%;
 padding: 10px;
}

.requests-index {
  background: blue;
  width: 65%;
  margin: 0 auto;
}
