.dashboard {
  border: solid 1px #cfd2d3;
  background: white;
  width: 900px;
  height: 500px;
  margin: 0 auto;
  font-family: "Proxima Alt Regular";
  overflow: auto;
}
/*
.dashboard > ul > li {
  display: block;
  float: left;
  width: 300px;
  text-align: center;
}*/

.tabs {
  margin: 0 auto;
  width: 900px;
  background: white;
  color: #1da3bf;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #1da3bf;
}

.tabs > li {
  float: left;
  width: 300px;
  text-align: center;
}

.tabs > li:hover {
  cursor:pointer;
}

.group:after {
  display: block;
  clear: both;
  content: ""
}

.detail {
  height:260px;
  border: 1px solid gray;
  padding: 20px;
  margin: 20px;
  font-family: "Proxima Alt Light";
  overflow-wrap: break-word;
  box-shadow: 0 10px 6px -6px #777;
}

.detail > ul {
  float:right;
  width: 650px;
}

.detail > ul > li {
  float:left;
  padding: 10px;
  width: 620px;
}

.index {
  width: 860px;
  margin: auto;
  padding: 20px;
}

.request-form {
  background: #f5f6f6;
  border: 1px solid gray;
  border-radius: 5px;
  width: 820px;
  height: 500px;
  min-height: 400px;
  min-width: 825px;
  margin: 0 auto;
  font-size: 20px;
  font-family: sans-serif;
  position: relative;
}

.request-form label {
  padding: 10px;
  margin-left: 50px;
}

.request-form select {
  width: 20%;
  margin-left: 18px;
  border: 1px solid gray;
  background: white;
  height: 6%;
  margin-top: 35px;
}

.title {
  background-color: white;
  width: 40%;
  margin-left: 63px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
}

.description {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  width: 40%;
  height: 16%;
  text-indent: 10px;
  font-size: 14px;
  padding: 10px;
}

.date {
  background: white;
  font-size: 16px;
  margin-left: 57px;
  border: solid 1px gray;
  border-radius: 5px;
  text-align: center;
}

.location {
  background: white;
  font-size: 16px;
  margin-left: 22px;
  border: solid 1px gray;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}

.time {
  background: white;
  font-size: 16px;
  margin-left: 54px;
  border: solid 1px gray;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}

.submit-request {
  background-color: #1da3bf;
  color: white;
  position: absolute;
  left: 625px;
  bottom: 25px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #C4B9B9;
}

.close-x {
  position: absolute;
  right: 40px;
  top: 10px;
  border: 1px solid gray;
  width: 26px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
