.focused {
  color: white;
  background: #1da3bf;
}

.dashboard {
  border: solid 1px #1da3bf;
  background: white;
  width: 924px;
  height: 350px;
  margin: 0 auto;
  font-family: "Proxima Alt Regular";
  overflow: auto;
}

.tabs {
  margin-top: 60px;
  width: 925px;
  background: #f5f6f6;;
  color: #1da3bf;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-right: 1px solid #1da3bf;
  margin-left: auto;
  margin-right: auto;
}

.tabs:hover {
  cursor: pointer;
}

.tabs > li {
  float: left;
  width: 230px;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #1da3bf;
  border-left: 1px solid #1da3bf;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tabs > li:hover {
  color: white;
  background: #1da3bf;
}

.group:after {
  display: block;
  clear: both;
  content: ""
}

.detail {
  height:auto;
  border: 1px solid gray;
  padding: 20px;
  margin: 20px;
  font-family: "Proxima Alt Light";
  overflow-wrap: break-word;
  box-shadow: 0 10px 6px -6px #777;
  position:relative;
}

.detail span {
  font-family: "Proxima Alt Semibold";
}

.empty {
  background: #e2e6e6;
  width: 700px;
  margin: 35px auto;
  padding: 35px;
  text-align: center;
  height: 200px;
  box-shadow: 0 10px 6px -6px #777;
}

.detail > ul {
  float:left;
  width: 500px;
}

.detail > ul > li {
  float:left;
  padding: 10px;
  width: 620px;
}


.index {
  width: 860px;
  margin: auto;
  padding: 20px;
}

.request-form {
  background: #f5f6f6;
  border-radius: 5px;
  width: 820px;
  height: 500px;
  min-height: 400px;
  min-width: 825px;
  margin: 0 auto;
  font-size: 20px;
  font-family: "Proxima Alt Light";
  position: relative;
}

.request-form label {
  padding: 10px;
  margin-left: 50px;
}

.request-form select {
  width: 20%;
  margin-left: 18px;
  border: 1px solid gray;
  background: white;
  height: 6%;
  margin-top: 35px;
}

.form {
  font-family: "Proxima Alt Light";
}

.title {
  background-color: white;
  width: 40%;
  margin-left: 63px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
}

.description {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  width: 40%;
  height: 16%;
  text-indent: 10px;
  font-size: 14px;
  padding: 10px;
}

.date {
  background: white;
  font-size: 16px;
  margin-left: 57px;
  border: solid 1px gray;
  border-radius: 5px;
  text-align: center;
}

.location {
  background: white;
  font-size: 16px;
  margin-left: 22px;
  border: solid 1px gray;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}

.time {
  background: white;
  font-size: 16px;
  margin-left: 54px;
  border: solid 1px gray;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}

.cancel-button {
  color: #1da3bf;
  border-radius: 10px;
  border: 1px solid #1da3bf;
  padding: 15px;
}

.cancel-button:hover {
  color: white;
  background: #1da3bf;
}

.submit-request {
  color: #1da3bf;
  position: absolute;
  left: 625px;
  bottom: 25px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #1da3bf;
}

.submit-request:hover {
  color: white;
  background: #1da3bf;
}
.submit-request:focus {
  outline: none;
}
.close-x {
  font-family: "Proma Alt Light";
  position: absolute;
  right: 40px;
  top: 10px;
  border: 1px solid gray;
  width: 26px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
