.header {
  display: block;
  background: white;
  height: 61px;
}

.header img {
  width: 165px;
  height: 47px;
  position: absolute;
  left: 150px;
}

.logout-link {
  float: right;
  display: block;
  color: #626a6b;
  padding: 5px;
  margin-top: 15px;
  margin-right: 15px;
  cursor: pointer;
}
