.how-it-works {
  font-family: "Proxima Alt Light";
  width: 900px;
  margin: 0 auto;
}
.how-it-works h4 {
  font-size: 30px;
  height:5px;
  color:#00964b;
}

.how-it-works h4 {
  font-size:24px;
}
.how-it-works p {
  margin-left:58px;
  font-family: "Proxima Alt Regular";
  font-size: 20px;
}


.how-it-works li {
  height:70px;
}

.numbers {
  border: 1px solid #00964b;
  background: #00964b;
  border-radius: 50%;
  color: white;
  padding: 20px;
  font-size: 24px;
}


.raised-hand {
  width: 40px;
}

.handshake {
  width: 40px;
}

.helping-hand {
    width: 40px;
}
