.how-it-works {
  height: 371px;
  margin: 70px;
  position: relative;
}
.how-it-works h2 {
  font-size: 35px;
  font-weight: 300;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.how-it-works .arrow {
  color: #7C8585;
  font-size: 45px;
  width: 0px;
}

.how-it-works ul {
  margin: 0 auto;
  width: 74%;
  position: absolute;
  left: 255px;
}

.how-it-works li {
  box-sizing: border-box;
      display: block;
      float: left;
      font-size: 22px;
      color: #00964b;
      width: 15%;
      text-align: center;
      padding: 20px;
      margin: 40px;
}

.how-it-works p {
  color: #828a8b;
  font-size: 16px;
  font-weight: 100;
  padding-top: 15px;
}

.raised-hand {
  width: 45px;
  position: absolute;
  top: 130px;
  left: 352px;
}

.handshake {
  width: 60px;
  position: absolute;
  top: 143px;
  left: 700px;
}

.helping-hand {
  width: 60px;
  position: absolute;
  top: 109px;
  left: 1055px;
}
