.how-it-works {
  height: 371px;
  width: 1200px;
  margin: auto;
  padding-bottom: 100px;
  position: relative;
}
.how-it-works h2 {
  font-size: 35px;
  font-weight: 300;
  margin: auto;
  width: 50%;
  text-align: center;
}

.how-it-works .arrow {
  color: #7C8585;
  font-size: 45px;
  width: 0px;
}

.how-it-works ul {
  width: 74%;
  margin: auto;
  left: 255px;
}

.how-it-works li {
  box-sizing: border-box;
  display: block;
  float: left;
  font-size: 22px;
  color: #00964b;
  width: 15%;
  text-align: center;
  padding: 20px;
  margin: 40px;
}

.how-it-works p {
  color: #828a8b;
  font-size: 16px;
  font-weight: 100;
  padding-top: 15px;
}

.raised-hand {
  width: 50%;
}

.handshake {
  width: 50%;
}

.helping-hand {
  width: 50%;
}
