

.offer-button {
  font-family: "Proxima Alt Light";
  color: #1da3bf;
  border: 1px solid #1da3bf;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
}

.offer-button:hover {
  color:white;
  background-color: #1da3bf;
  cursor: pointer;
}

.offer-button:focus {
  outline: none;
}
.accept-offer-button {
  color: #1da3bf;
  border: 1px solid #1da3bf;
  padding: 10px;
  border-radius: 5px;
  margin-top: 120px;
  position: absolute;
  bottom: 15px;
  right: 180px;
}

.accept-offer-button:hover {
  color: white;
  background-color: #1da3bf;
  cursor: pointer;
}

.decline-offer-button {
  color: #1da3bf;
  border: 1px solid #1da3bf;
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
  position: absolute;
  bottom: 15px;
  right: 35px;

}

.decline-offer-button:hover {
  color: white;
  background-color: #1da3bf;
  cursor: pointer;
}
