.login-page, .signup-page {
 font-family: "Proxima Alt Light";
 background-image: asset-url("cover_photo.jpg");
 background-size: cover;
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;

}
.login-form, .signup-form {
 position: absolute;
 margin-left: auto;
 margin-right: auto;
 left: 0;
 right: 0;
 top: 75px;
 display: block;
 width: 500px;
 height: 362px;
 background: white;
 color:#828a8b;
 border-radius: 10px;
 border: solid 1px #cfd2d3;
 opacity: .95;
}

.login-form > p {
  text-align:center;
}

.signup-form > h5 {
  font-size: 35px;
  margin-left: 185px;
  color: black;
  font-family: "Proxima Alt Semibold";
  margin-top: 20px;
}

.signup-form > p {
  text-align:center;
}

.logo {
 display: block;
 position: absolute;
 top: 5px;
 left: 82px;
}

.logo:hover {
  cursor: pointer;
}

.login-logo {
  width: 75px;
  float: left;
  margin-left: 115px;
}

.favo-login {
  font-family: "Proxima Alt Semibold";
  color: #335f4d;
  font-size: 28px;
  width: 65px;
  float: left;
}

.rabbit-login {
  font-family: "Proxima Alt Semibold";
  color: #00964b;
  font-size: 28px;
  width: 88px;
  float: left;
}

.submit-button {
 border: solid 1px #00964b;
 width: 400px;
 height: 50px;
 border-radius: 10px;
 text-align: center;
 margin-left: 40px;
 margin-top:20px;
 cursor: pointer;
 color: #00964b;
}

.submit-button:hover {
  color:white;
  background:#00964b;
}

.signup-button {
  border: 1px solid #00964b;
  color: #00964b;
  width: 115px;
  margin: 5px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}
.signup-button:hover {
  color:white;
  background:#00964b;
}
.username, .password {
 height: 44px;
 border: solid 1px #cfd2d3;
 margin-left: 40px;
 margin-top:30px;
 width: 400px;
 border-radius: 4px;
 text-indent: 15px;
}

.username-label {
  position: absolute;
  top: 70px;
  left: 41px;
}

.password-label {
  position: absolute;
  top: 149px;
  left: 41px;
}

.errors {
 position: absolute;
 left: 325px;
 top: 200px;
 width: 350px;
 color: #FF2F2F;
}

.signup-errors {
  color: white;
  background: #00964b;
  width: 100%;
  font-size: 18px;
  display: block;
  text-align: center;
}

.form-errors{
  position: absolute;
  color: #e9714b;
  font-size: 16px;
  left: 175px;
}
