.welcome {
  font-size: 36px;
  text-align: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
  width: 900px;
  margin: auto;
}

.welcome > h4 {
  font-weight: normal;
  font-family: "Proxima Alt Semibold";
  width:630px;
}
.welcome-button {
  float:left;
  border: 1px solid #00964b;
  border-radius: 15px;
  padding: 15px;
  color:  #00964b;
  font-size: 20px;
  cursor: pointer;
  font-family: "Proxima Alt Regular";
}
.welcome-button:focus {
  outline:0;
}

.welcome-button:hover {
  background:#00964b;
  color:white;
}

.user-photo {
  border-radius: 50%;
  float: left;
  margin-top: 20px;
  width: 86px;
  height: 86px;
}

.favor-button {
  border: 1px solid #00964b;
  border-radius: 15px;
  padding: 15px;
  color:  #00964b;
  font-size: 20px;
  cursor: pointer;
  font-family: "Proxima Alt Regular";
  float: right;
}

.favor-button:focus {
  outline:0;
}
