.welcome {
  font-size: 36px;
  text-align: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
  width: 900px;
  margin: auto;
}

.welcome > h4 {
  font-weight: normal;
  font-size: 50px;
  font-family: "Proxima Alt Regular";
  width: 900px;
  height: 10px;
}
.welcome-button {
  float:left;
  margin-top:40px;
  border: 1px solid #00964b;
  border-radius: 15px;
  padding: 15px;
  color:  #00964b;
  font-size: 20px;
  cursor: pointer;
  font-family: "Proxima Alt Regular";
}
.welcome-button:focus {
  outline:0;
}

.welcome-button:hover {
  background:#00964b;
  color:white;
}

.user-photo {
  border-radius: 50%;
  float: left;
  margin-top: 55px;
  margin-right: -10px;
  width: 100px;
  height: 100px;
}

.favor-button {
  border: 1px solid #00964b;
  border-radius: 15px;
  padding: 15px;
  color: #00964b;
  font-size: 20px;
  cursor: pointer;
  font-family: "Proxima Alt Regular";
  float: left;
  width: 138px;
  margin-top: 40px;
  margin-left: 50px;
}

.favor-index-heading {
  text-align: center;
  font-family: "Proxima Alt Regular"
}

.favor-button:focus {
  outline:0;
}

.favor-button:hover {
  background:#00964b;
  color:white;
}

.react-search{
  border-radius: 4px;
  width: 721px;
  height: 48px;
  margin-left: 145px;
  background: white;
  font-size:20px;
  font-family: "Proxima Alt Light";
}

.react-search__input {
  width: 721px;
  height:46px;
  text-align: left;
  text-indent: 40px;
  border-bottom: 1px solid #cfd2d3;
}

.react-search__input:focus {
  outline:0;
}

.react-search > li {
  background: yellow;
}

.react-search__menu--open {
  background:white;
  z-index:1;
}

.react-search__menu {
  position: absolute;
  background: white;
  width: 478px;
}

.react-search__menu-item {
  cursor:pointer;
  background: white;
}

.search-icon {
  width: 35px;
  position: absolute;
  left: 145px;
  top: 196px;
}
