.welcome {
  font-size: 36px;
  height: 190px;
  text-align: center;
  position: relative;
  margin-top: 47px;
}

.request-button {
  border: 3px solid gray;
  position: absolute;
  left: 350px;
  top: 115px;
  border-style: outset;
  border-radius: 15px;
  background: #00964b;
  padding: 15px;
  color: white;
  font-size: 20px;
  width: 250px;
  height: 90px;
  cursor: pointer;
}
