.welcome {
  font-size: 36px;
  height: 190px;
  text-align: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1200px;
  margin: auto;
}

.welcome-button {
  border: 3px solid gray;
  border-style: outset;
  border-radius: 15px;
  background: #1da3bf;
  padding: 15px;
  color: white;
  font-size: 20px;
  width: 250px;
  height: 90px;
  cursor: pointer;
}
.request {
  position: absolute;
  left: 200px;
  top: 150px;
}

.favor {
  position: absolute;
  left: 700px;
  top: 150px;
}
