@font-face {
  font-family: "Proxima Alt Light";
  src: font-url("proxima_nova_alt_light.otf") format("truetype");
}

@font-face {
  font-family: "Proxima Alt Regular";
  src: font-url("proxima_nova_alt_regular.otf") format("truetype");
}

@font-face {
  font-family: "Proxima Alt Semibold";
  src: font-url("proxima_nova_alt_semibold.otf") format("truetype");
}
