.login-page, .signup-page {
 font-family: Arial, Helvetica, sans-serif;
 background-image: asset-url("helping-hikers.jpg");
 background-size: cover;
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;

}
.login-form, .signup-form {
 position: absolute;
 margin-left: auto;
 margin-right: auto;
 left: 0;
 right: 0;
 top: 30px;
 display: block;
 width: 500px;
 height: 362px;
 background: white;
 color:#828a8b;
 border-radius: 10px;
 border: solid 1px #cfd2d3;
}

.login-form > p {
 position: absolute;
 left:304px;
 top: 337px;
}

.signup-form > p {
 position: absolute;
 left: 280px;
 top: 337px;
}

.logo {
 display: block;
 position: absolute;
 top: 5px;
 left: 82px;
}

.submit-button {
 border: solid 1px #cfd2d3;
 width: 400px;
 height: 50px;
 border-radius: 10px;
 text-align: center;
 margin-left: 40px;
 cursor: pointer;
 background: #1da3bf;
 color: white;
}

.signup-button {
 position: absolute;
 top: 330px;
 left: 395px;
 border: 1px solid #cfd2d3;
 width: 100px;
 border-radius: 5px;
 text-align: center;
 cursor: pointer;
 background: #1da3bf;
 color: white;
 padding: 5px;
}

.username, .password {
 height: 44px;
 border: solid 1px #cfd2d3;
 margin-left: 40px;
 width: 400px;
 border-radius: 4px;
 text-indent: 15px;
}

.username-label {
 position: absolute;
 top: 83px;
 left: 40px;
}

.password-label {
 position: absolute;
 top: 184px;
 left: 40px;
}

.errors {
 position: absolute;
 left: 325px;
 top: 200px;
 width: 350px;
 color: #FF2F2F;
}

.signup-errors {
 color: #FF2F2F;
 position: absolute;
 top: 206px;
 left: 438px;
 width: 300px;
}
